<nav>
    <div class="site-title">
        <h3><a href="/">MyBlogs</a></h3>
        <p>Created by Thusara Senanayake
    </div>
    <ul>
        <li><a href="/"> Home</a></li>
        <li><a href="/blogs/new_blog"> New Blog</a></li>

    </ul>
    <hr />
</nav>